<template>  
    <div class="col-12">
        <div class="card collapsed-card" ref="collapsedCard">
            <div class="card-header btn" data-card-widget="collapse">
                <h3 class="card-title">Add New {{this.pageTitle}}</h3>
                <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                </button>
                </div>
            </div>
            <div class="card-body">
                <div class="box-body">
                    <div class="form-group col-6">
                        <label>{{this.pageTitle}}</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        id="email" 
                        placeholder="Enter new email"
                        v-model="$v.form.email.$model"
                        ref="formTitle"
                        >
                        <small class="text-danger" v-if="!$v.form.email.required && $v.form.email.$dirty">This field is required</small>  
                        <small class="text-danger" v-if="!$v.form.email.email && $v.form.email.$dirty">Email required</small> 
                    </div>
                    <div class="form-group col-6">
                        <button 
                        type="button" 
                        class="btn btn-primary btn-flat"
                        @click="addData()"
                        ref="submitButton"
                        >Submit</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card">
            <div class="card-header btn" data-card-widget="collapse">
                <h3 class="card-title">{{this.pageTitle}} Data</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="box-body ">
                    <v-server-table 
                    url="../api/admin/v1/invitations"
                    ref="tableData" 
                    name="tableData" 
                    :columns="columns" 
                    :options="options" 
                    class="vue-tables-custom-style"
                    >
                    <template slot="no" slot-scope="props">
                        <div >{{props.index}}</div>
                    </template>  
                    <template slot="status" slot-scope="props">
                        <div >{{ (props.row.user_id === null)?'waiting':'join' }}</div>
                    </template>       
                    <template slot="gender" slot-scope="props">
                        <div >{{ props.row.user.gender }}</div>
                    </template>   
                    <template slot="birth_date" slot-scope="props">
                        <div >{{ props.row.user.birth_date }}</div>
                    </template>     
                    <template slot="designers" slot-scope="props">
                        <div v-for="" >
                            <span v-for="(designers, index) in props.row.user.designers" :key="index">
                                {{ designers.name }}
                                 <template v-if="(parseInt(index) + 1) < props.row.user.designers.length">, </template>
                            </span>
                        </div>
                    </template>        
                    </v-server-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { required,email } from 'vuelidate/lib/validators'

export default { 
    data () {
        return { 

            columns: ['no','email','created_at','expired_at','status','gender','birth_date','designers'],
            options: {
                headings: {
                            no: 'no.',       
                            created_at: 'Sending at' ,
                            expired_at: 'Expired at'
                        },
                sortable: [],            
                filterable: false,
                perPage: 10,
                perPageValues:[10],
                preserveState:false,
                pagination: { 
                    show: true,
                    chunk: 5, 
                    dropdown: false, 
                    nav: 'fixed'
                },
                sortIcon: {
                    base:'fa', is:'fa-sort', up:'fa-sort-asc', down:'fa-sort-desc' 
                },           
            },   

            pageTitle : this.$route.meta.title,
            form:{
                email:''
            },
        }
    },
    validations: {
        
        form:{
            email: {
                required,
                email,
            }
        }
       
    },
    methods:{
        
        addData() {

            this.$v.form.$touch()
            
            if(!this.$v.form.$invalid){

                axios.post("../api/admin/v1/invitations", {

                    email : this.form.email,
                    
                }).then(response => {
                 
                    this.$toastr.success(response.data.message)
                    this.$refs.tableData.refresh();
                    this.resetForm()
                    this.$v.form.email.$reset()
                        
                }).catch(err=>{

                    var error = err.response.data.message
                    this.$toastr.error(error)                
                });
            }  
        },
        resetForm() {
            
            var self = this; 

            Object.keys(this.form).forEach(function(key,index) {
                self.form[key] = '';
            });
        },
    }

}
</script>