<template>
    <!--
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Boxed Layout</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Layout</a></li>
            <li class="breadcrumb-item active">Boxed Layout</li>
            </ol>
        </div>
        </div>
    </div>
    --><!-- /.container-fluid -->
</template>