<template>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index1.html" class="brand-link">
            <img :src="require('../assets/img/AdminLTELogo.png')" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
            <div class="user-panel mt-2 pb-0 mb-3 d-flex"></div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                
                    <li class="nav-item">
                        <!--<a href="widgets.html" class="nav-link active">-->
                        <a @click.prevent="goto('/admin')" class="nav-link" :class="{'active' : $route.path === '/admin/dashboard' || $route.path === '/admin' }" href="/admin">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Dashboard
                        </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!--<a href="widgets.html" class="nav-link active">-->
                        <a @click.prevent="goto('/admin/invitation')" class="nav-link" :class="{'active' : $route.path === '/admin/invitation'}" href="/admin/invitation">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            User Invitation
                        </p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a @click="logout" class="nav-link" href="javascript:void(0);">
                        <i class="nav-icon fa fa-window-close"></i>
                        <p>
                            Logout
                        </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
</template>

<script>
import { EventBus } from '../eventBus'
export default {
    data(){
        return {
           
        }
    },

    methods:{
            goto(to) {

                console.log('to: ' +to)

                if(this.$route.path == to)
                    EventBus.$emit('reloadPage')
                else
                    this.$router.push(to)
            },
            loadMenu(){
                let path = this.$route.path

                console.log(path)
            },
            logout() {
                
                document.cookie = 'sso_token=; Max-Age=-99999999;';
                localStorage.removeItem('token');
                localStorage.removeItem('userInfo');
                localStorage.clear();
                axios.post('/logout')
                    .then(() => location.href = '/')
            },
    },
    mounted(){

        this.loadMenu()

    },
    computed: {
         
    }


}
</script>